.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  background-image: url("https://img.freepik.com/premium-photo/cyber-security-security-password-login-online-concept-hands-typing-entering-username-password-social-media-login-with-online-bank-account-data-protection-hacker_35148-5507.jpg?w=1380");
  background-size: cover;
  background-position: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.errorMsg {
  color: red;
  font-size: 12px;
  margin-bottom: 15px;
}
.color2 {
  color: red;
  font-weight: 600;
}
.login {
  color: green;
  font-weight: 900;
}
